header.header
  nav.nav.nav--welcome
    a.nav__el.nav__el--home(href='/') home
  // dot(.) automatically creates a div element in pug template
  .header__logo
    img(src='/img/mundial-logo.png' alt='Logo')
  nav.nav.nav--user
    .dropdown
      button.nav__el Employees
      .dropdown-content  
        a(href='/employee/create') create new employee
        a(href='/employee/view/all') view employees
    .dropdown
      button.nav__el PayGroup
      .dropdown-content
        a(href='/paygroup/create') create new payGroup
        a(href='/paygroup/view/all') view payGroup
        
    a.nav__el.nav__el--cta(href='/user/login') login
    a.nav__el.nav__el--cta(href='/user/register') Sign Up