header.header
  nav.nav.nav--welcome
    a.nav__el.nav__el--home(href='/') home
  // dot(.) automatically creates a div element in pug template
  .header__logo
    img(src='/img/mundial-logo.png' alt='Logo')
  nav.nav.nav--user
    .dropdown
      button.nav__el Employees
      .dropdown-content
        a(href='/employees/view') view employees
        a(href='/invoice/create') create new employee
    .dropdown
      button.nav__el PayGroup
      .dropdown-content
        a(href='/payments/view') view paygroup
        a(href='/payment/create') create new paygroup

    a.nav__el.nav__el--cta(href='/user/login') login
    a.nav__el.nav__el--cta(href='/user/register') Sign Up