extends base

block content
  main
    h2.body-title Create PayGroup
      section.createNewPayGroup
        .resource-details.create-paygroup
          .heading__title New PayGroup Info
          form
            .form__div
              div(class='box-text-cell')
                p.box-title category
                input#category.input-style-one(type='text' required)
              div(class='box-text-cell')
                p.box-title basic
                input#basic.input-style-one(type='number' step='any' onfocus='use_number(this)' onblur='use_text(this)' required)
              div(class='box-text-cell')
                p.box-title housing
                input#housing.input-style-one(type='number' step='any' onfocus='use_number(this)' onblur='use_text(this)' required)
              div(class='box-text-cell')
                p.box-title transport
                input#transport.input-style-one(type='number' step='any' onfocus='use_number(this)' onblur='use_text(this)' required)
              div(class='box-text-cell')
                p.box-title utility
                input#utility.input-style-one(type='number' step='any' onfocus='use_number(this)' onblur='use_text(this)' required)
              div(class='box-text-cell')
                p.box-title tax
                input#tax.input-style-one(type='number' step='any' onfocus='use_number(this)' onblur='use_text(this)' required)
                
            .form__cta--create
              button.btn--cta--save create paygroup
            .line &nbsp;