extends base

block content
  main
    h2.body-title Employees Overview
    .table-wrapper
      .heading__title Employees Info
      table.table-data
        tr
          th.th__size-small FirstName
          th.th__size-small LastName
          th.th__size-small GrossPay
          th.th__size-small Tax
          th.th__size-small Pension
          th.th__size-small NetPay
          th.th__size-small Option