extends base

block content
  main
    <section id="home">
      div.overlay
        h2.body-title-home management console
    </section>
    <section>
    //- Other Code To Be Written Here
    </section>

