extends base

block content
  main
    <section id="home">
      div.overlay
        h2.body-title-home management console
        //- img(src='https://vcb-static-files.s3.us-east-1.amazonaws.com/vcb-upload/user-1736858640412.jpg' width="500" height="600" alt='Logo')
    </section>
    <section>
      //- Other Code To Be Written Here
    </section>

