header.header
  nav.nav.nav--welcome
    a.nav__el(href='/') Welcome
  // dot(.) automatically creates a div element in pug template
  .header__logo
    img(src='/img/mundial-logo.png' alt='Logo')
  nav.nav.nav--user
    a.nav__el.nav__el--logout(href='/invoices') Invoice
    //- a.nav__el(href='#')
      //- img.nav__user-img(src=`#` alt='')
      span
    a.nav__el(href='/payments') Payment
    a.nav__el(href='/jobs') Job
    a.nav__el.nav__el--cta(href='#') Sign Up
