header.header
  nav.nav.nav--welcome
    a.nav__el.nav__el--home(href='/') home
  // dot(.) automatically creates a div element in pug template
  .header__logo
    img(src='/img/mundial-logo.png' alt='Logo')
  nav.nav.nav--user
    .dropdown
      button.nav__el Invoice
      .dropdown-content
        a(href='/invoices/view') view invoice
        a(href='/invoice/create') create new invoice
    .dropdown
      button.nav__el Payment
      .dropdown-content
        a(href='/payments/view') view payment
        a(href='/payment/create') create new payment
    .dropdown
      button.nav__el Job
      .dropdown-content
        a(href='/jobs/view') view job
        a(href='/job/create') create new job
    //- a.nav__el.nav__el--cta(href='#') login
    a.nav__el.nav__el--cta(href='/user/register') Sign Up