header.header
  nav.nav.nav--welcome
    a.nav__el(href='/') Welcome
  // dot(.) automatically creates a div element in pug template
  .header__logo
    img(src='/img/mundial-logo.png' alt='Logo')
  nav.nav.nav--user
    .dropdown
      button.nav__el Invoice
      .dropdown-content
        a(href='/invoices/view') view invoice
        a(href='/invoice/create') create new invoice
    .dropdown
      button.nav__el Payment
      .dropdown-content
        a(href='/payments') view payment
        a(href='#') create new payment
    .dropdown
      button.nav__el Job
      .dropdown-content
        a(href='/jobs') view job
        a(href='#') create new job
    a.nav__el.nav__el--cta(href='#') Sign Up