extends base

block content
  main
    h2.page__subject Invoice
    // User Resources Data Creation
    .resource-details.create-resource-invoice
      .heading__title.ma-bt-lg Create New Invoice
      form
        .form__div
          div(class='box-text-cell')
            p.box-title invoice no
            input.input-style-one#invno(type='text')
          div(class='box-text-cell')
            p.box-title description
            textarea#desc(rows='3' cols='48')
          div(class='box-text-cell')
            p.box-title sales amount
            input.input-style-one#salesval(type='number',step='any')
          div(class='box-text-cell')
            p.box-title cost amount
            input.input-style-one#costval(type='number',step='any')
          div(class='box-text-cell')
            p.box-title job id
            select.select-style-one#job(name='jobs', class='jobs')
              option(value= 'undefined') Please select
          div(class='box-text-cell')
            p.box-title class
            select.select-style-one#invclass(name='class')
              option Installation
              option Maintenance 
          div(class='box-text-cell')
            p.box-title wht %
            input.input-style-one#whtpercent(type='number')
        .form__cta
          button.btn--cta--save Create Invoice