extends base

block content
  main
    // Horizontal Line
    .line &nbsp;
    // User Resources Data Creation
    .resource-details.create-resource
      .heading__title.ma-bt-lg Create New Invoice
      form
        .form__div
          div(class='box-text-cell')
            p.box-title invoice no
            input#invno(type='text')
          div(class='box-text-cell')
            p.box-title description
            textarea#desc(rows='3' cols='48')
          div(class='box-text-cell')
            p.box-title sales amount
            input#salesval(type='number',step='any')
          div(class='box-text-cell')
            p.box-title cost amount
            input#costval(type='number',step='any')
          div(class='box-text-cell')
            p.box-title job id
            select#job(name='jobs', class='jobs')
              option(value= 'undefined') Please select
          div(class='box-text-cell')
            p.box-title class
            select#invclass(name='class')
              option Installation
              option Maintenance 
          div(class='box-text-cell')
            p.box-title wht %
            input#whtpercent(type='number')
        .form__cta
          button.btn--cta Create Invoice
    .line &nbsp;