extends base

block content
  main
    h2.page__subject Job Overview
    .table-wrapper
      table.table-data
        tr
          th Job ID
          th Type
          th Description
          th PO
          th option
        each job in jobs
          tr
            td= job.jobID
            td= job.jobType
            td= job.jobDescription
            td= job.jobPO
            td
             .btn--green
              a(href=`#`) Details