extends base

block content
  main
    h2.page__subject Payment
    // User Resources Data Creation
    .resource-details.create-resource-payment
      .heading__title.ma-bt-lg Create New Payment
      form
        .form__div
          div(class='box-text-cell')
            p.box-title Payment Tag
            input.input-style-one#paytag(type='text')
          div(class='box-text-cell')
            p.box-title description
            textarea#paydesc(rows='3' cols='48')
          div(class='box-text-cell')
            p.box-title amount
            input.input-style-one#payamount(type='number',step='any')
          div(class='box-text-cell')
            p.box-title Date
            input.input-style-one#date(type='date')
        .line &nbsp;
        .heading__title Link Invoice
          br
        .modify-field-resource
          ul.invoice-field-item
            //- POPULATE UNPAID INVOICES HERE        
        .form__cta
          button.btn--cta--save Create Payment