extends base

block content
  main
    h2.page__subject Create your account
    .s_form  
      form.form--signup
        .form__group
          label.form__label(for='fname') Firstname
          input#fname.form__input(type='text', placeholder='Enter your firstname', required)
        .form__group
          label.form__label(for='lname') Lastname
          input#lname.form__input(type='text', placeholder='Enter your lastname', required)
        .form__group
          label.form__label(for='email') Email address
          input#email.form__input(type='email', placeholder='you@example.com', required)
        .form__group.ma-bt-md
          label.form__label(for='passwd1') Password
          input#passwd1.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group
          label.form__label(for='passwd2') Confirm password
          input#passwd2.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__cta
          button.btn--cta--save Create User
    .spacing  