extends base

block content


  .form__div
    .label__item Invoice No
      //- input#inv-no.form__input.half(type='text', required)
    .label__item Description
      //- input#inv-desc.form__input.half(type='text',required)
    .label__item WHT
      //- input#wht-desc.form__input(type='text',required)
    .label__item Invoice No
      //- input#inv-no.form__input(type='text', required)
    .label__item Description
      //- input#inv-desc.form__input(type='text',required)